{% extends 'base.html' %}



{% block title %} Profile {% endblock %}



{% block body %}

<div class="col-sm-5 offset-sm-3" style="background-color: #f9f9f9; border-radius: 10px; margin-top: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">

    <form style="padding: 30px;" method="POST">
    
        {{ form.hidden_tag() }}

        <h2 style="text-align: center; color: #333; margin-bottom: 20px;">Change Password</h2>

        <div class="mb-3">
            <label for="currentPassword" class="form-label" style="font-weight: 600; color: #555;"> {{ form.current_password.label }}</label>
            {{ form.current_password }}
        </div>

        <div class="mb-3">
            <label for="newPassword" class="form-label" style="font-weight: 600; color: #555;"> {{ form.new_password.label }}</label>
            {{ form.new_password }}
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="form-label" style="font-weight: 600; color: #555;"> {{ form.confirm_new_password.label }}</label>
            {{ form.confirm_new_password }}
        </div>

        <div style="text-align: center; margin-top: 20px;">
            {{ form.change_password }}
        </div>
    
    </form>

</div>


{% endblock %}